body {
    background: url(https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?auto=format&fit=crop&w=668&q=80);
    background-size: cover;
    background-position: center; 
}
#mydivz{
	text-align: center;
	padding-top: 25%;
	font-family: 'Dancing Script', cursive;
	
}

h1{
	color: white;
	font-weight: 700;
	font-size: 5em;
	text-shadow: 0px 4px 3px rgb(169,157,066),
				 0px 8px 1px rgb(169,157,068),
				 0px 4px 4px rgb(169,157,070);
}
h3{
	color: #fff;
    background-color: #a99d4238; 
    padding: 8%;
    text-shadow: 0px 4px 3px #a99d42db;
}

html {
	height: 100%;

}

hr{
	width: 400px;
	border-top: 1px sold #ffffff;
	border-bottom: 1px sold #dcdcdc;
}